p.alba1{
  background-color: "white";
}
table.tablalba{
  background-color: "red";
  width:80%;
  align="center";
 margin: auto;
  border-width: 5px;
  border-color="blue";
}
td.a1{ 
  font-family:"candara";
  font-size: 16px;
  background-color:"red";
}
img.motos{
  width=250px;
  height=200px;
}
