<style>
table, td .tablaluis{border-collapse: collapse; border:1px solid black; padding: 2px}
body .luis{text-align:center}
img .imagenluis{height:250px; widht:400px}
p .textoluis{border-radius:5px ;border:solid red; padding: 1px}
a:link {color: black}

a:visited {color: purple}

a:hover {color: gray}

a:active {color: black}
td .bordeproducto{border:5px solid green}
.encabezadoluis{border-radius:10px; font-style: arial; background-color:red; padding: 3px}
</style>
