.miguel1 {
	font-family: verdana ;
	font-size: 3 ;
	text-align: center;
}
.miuel2 {
  
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
}
table, td, th {
  border: 1px solid white;
}
table {
  width: 100%;
  border-collapse: collapse;
}
color 737373
color 8C0303
