table.tablamiguel {
  background-color: "red";
  width: 80%;
  margin: auto;
  border-width: 6px;
  border-style: solid;
  border-color: "black";
}
img.bici{
  height: 100px;
  width: 200px;
}
p.miguel1 {
  background-color: "white";


